<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mysql" value="Server=localhost; Database=mysql_test; Uid =root; Password ='';"/>
    <add key="sqlserver" value="server=10.0.1.51;uid=sa;password=sasa;database=YanGang_NYGL;Pooling=true;Max Pool Size =1024;"/>
  </appSettings>
</configuration>